<div class="container">
<div class="dashboard-layout">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="profile-card">
        <%= render "shared/profile" %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="bookings-card">
        <%= render "shared/bookings" %>
      </div>

      <div class="camp-sites-card">
        <% if !current_user.profile.host.nil? %>
          <%= render "shared/camp-sites" %>
        <% end %>
      </div>

    </div>
  </div>
</div>

</div>
