<style> body {
   background-image: linear-gradient(-225deg, rgba(120,2,6,0.6) 0%, rgba(6,17,97,0.6) 50%), url(<%= image_path 'img_bkg.jpg' %>);
} </style>


<div class="container">
<%= render 'shared/formhost' %>
</div>
