  <h4>Your bookings</h4>
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Your trips</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Your guests</label>

  <section id="content1">
    <%= render "shared/messages" %>
  </section>

  <section id="content2">
    <%= render "shared/messages" %>
  </section>
