<div class="camp-sites-card-body">
  <h4>Camp sites</h4>

  <% current_user.profile.host.camp_sites.each do |camp_site| %>
    <div class="message">
      <img class="img-thumbnail" src="<%= cl_image_path camp_site.photos.first.path %>">
      <div class="message-body">
        <p><strong><%= camp_site.title %></strong></p>
        <p> <%= camp_site.address %> </p>
      </div>
      <div class="message-status">
        <p class="price">€<%= camp_site.price %></p>
      </div>
    </div>
  <% end %>
</div>
