<div class="camp-sites-card-body">
  <h4>Camp sites</h4>

  <div class="message">
    <img class="picture-large" src="http://via.placeholder.com/100x100">
    <div class="message-body">
      <p><strong>Title</strong></p>
      <p>
        This is the description of the camp site. Is it possible to have only the 2 first lines of the descr...
      </p>
    </div>
    <div class="message-status">
      <p class="price">€42</p>
    </div>
  </div>
</div>
