
<div class="card" style="background-image: linear-gradient(rgba(44,119,68,0.3), rgba(90,63,55,0.2)), url(<%= image_path 'img-test1.jpg' %>);">
  <div class="card-category">Region</div>
  <div class="card-description">
    <h2> <%= camp_site.title %> </h2>
    <p> <%= camp_site.address %> </p>
  </div>
  <img class="card-user" src='http://via.placeholder.com/200x200'>
  <%= link_to "", camp_site_path(camp_site), class: "card-link" %>

 <!--  <div class="card_footer"> <a href="#"></a></div> -->
</div>

<!-- <div class="card_footer">  <a href="#">Reservation</a></div> -->
<!-- rgb(0, 191, 143)
rgb(0, 21, 16) -->





