<div class="card" style="background-image: linear-gradient(rgba(0,191,143,0.3), rgba(0,21,16,0.2)), url(<%= image_path 'img-test1.jpg' %>);">
  <div class="card-category">Region</div>
  <div class="card-description">
    <h2>Name of the place</h2>
    <p>adress</p>
  </div>
  <img class="card-user" src='http://via.placeholder.com/200x200'>
  <a class="card-link" href="#" ></a>
 <!--  <div class="card_footer"> <a href="#"></a></div> -->
</div>

<!-- <div class="card_footer">  <a href="#">Reservation</a></div> -->
<!-- rgb(0, 191, 143)
rgb(0, 21, 16) -->
