<footer>
 <div class="container">
  <div class="col-xs-12 col-md-6">
    <div class="footer-block-wrap">
      <div class=" col-xs-4 col-sm-4 col-md-4  footer-block">
        <ul>
          <a href="" class="white-link">
            About 
          </a>
          <li class="blue-link">
            Mission
          </li>
          <li class="blue-link">
            Team
          </li>
        </ul>
      </div>
      <div class=" col-xs-4 col-sm-4 col-md-4  footer-block">
        <ul>
          <a href="" class="white-link">
            Service 
          </a>
          <li class="blue-link">
            Product
          </li>
          <li class="blue-link">
            Support
          </li>
          <li class="blue-link">
            Pricing
          </li>
          <li class="blue-link">
            Policy
          </li>
        </ul>  
      </div>
      <div class=" col-xs-4 col-sm-4 col-md-4  footer-block">
        <ul>
          <a href="" class="white-link">
            Contact
          </a>
          <li class="blue-link">
            Parvis Sainte-Gudule 5
          </li>
          <li class="blue-link">
            1000 Brussels
          </li>
          <li class="blue-link">
              +32 111 22 33 44
          </li>
          <li class="blue-link">
            <a href="mailto:info@projectw.be">
              info@projectw.be
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <form id="newsletter-form" class="footer-form hidden-sm hidden-xs">
      <div class="footer-form__title">
        Make sure to never miss a thing...
      </div>
      <div class="footer-form__text">
        Get the latest news in your mailbox.
      </div>
      <div id="newsletter-success" class="alert alert-success" style="display: none;">
        <i class="fa fa-check"></i> Thanks for subscribing!
      </div>
      <div id="newsletter-error" class="alert alert-danger" style="display: none;">
        <i class="fa fa-remove"></i> Please leave a (valid) email address.
      </div>
      <div class="input-group">
        <input type="email" name="email" class=" form-email form-control" placeholder="Your email address">
        <span class="input-group-btn">
          <button id="newsletter-confirm" class="btn btn-default" type="button">register</button>
        </span>
      </div>
    </form>
  </div>

</div>
</footer>

<!-- <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div> -->