<div class="profile-card-body">
  <img class="avatar-large avatar-profile" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
  <div class="profile-info">
    <h3>First & Last Name</h3>
    <p>breknlrtkgnzr</p>
    <p>breknlrtkgnzr</p>
    <p>breknlrtkgnzr</p>
    <p>breknlrtkgnzr</p>
    <p>breknlrtkgnzr</p>
  </div>
</div>


