<form class="col-md-12" action="#">
   			<div class="form-group">
   				<label for="city">Select a camp region</label>
   				<input type="city" class="form-control" id="city" placeholder="Wallonie">
   			</div>
   			<div class="row">
   				<div class="col-xs-4 col-sm-3 col-md-3">
   					<div class="form-group">
   						<label for="price">Price/Night</label>
   						<select id="price" class="form-control">
   							<option value="">0€-25€</option>
   							<option value="">25€-50€</option>
   							<option value="">50€-75€</option>
   							<option value="">75€-100€</option>
   							<option value="">100€+</option>
   						</select>
   					</div>
   				</div>
   				<div class="col-xs-4 col-sm-3 col-md-3">
   					<div class="form-group">
   						<label for="category">Category</label>
   						<select id="category" class="form-control">
   							<option value="">AAAAAAA</option>
   							<option value="">BBBBBBB</option>
   							<option value="">CCCCCCC</option>
   							<option value="">DDDDDDD</option>
   							<option value="">EEEEEEE</option>
   						</select>
   					</div>
   				</div>
   				<div class="col-xs-4 col-sm-3 col-md-3">
   					<div class="form-group">
   						<label for="referrer">Guests</label>
   						<select id="referrer" class="form-control">
   							<option value="">10-20</option>
   							<option value="">20-30</option>
   							<option value="">30-40</option>
   							<option value="">40-50</option>
   							<option value="">50+</option>
   						</select>
   					</div>
   				</div>
   				<div class=" col-xs-12 col-sm-3 col-md-3">
   					<div class="form-group btn-div">
   						<input type="submit" value="search" id="search-btn" <%=render 'shared/button'%>
   					</div>
   				</div>
   			</div>
   		</form>


<!-- <div class="col-xs-3">
                  <div class="form-group">
                     <label for="start">Start</label>
                     <input type="text" class="form-control" id="start" placeholder="08-nov-17">
                  </div>
               </div>
               <div class="col-xs-3">
                  <div class="form-group">
                     <label for="end">End</label>
                     <input type="text" class="form-control" id="end" placeholder="10-nov-17">
                  </div>
               </div> -->