// body style
.bookings-card-body{
  padding: 10px 10px 10px 10px;
}

h4{
  font-size: 16px;
  color: #7D7979;
  font-family: "Varela", "Helvetica", "sans-serif";
  text-transform: uppercase;
  text-align: left;
}
#content1,
#content2{
  overflow-y: scroll;
  height: 180px
}
// tabs style
section {
display: none;
padding: 20px 0 0;
border-top: 1px solid #ddd;
}

input {
display: none;
}

label {
display: inline-block;
margin: 0 0 -1px;
padding: 15px 25px;
font-weight: 300;
text-align: center;
color: #bbb;
border: 1px solid transparent;
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #555;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2{
  display: block;
}

// Messages style

.message {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  padding-left: 6px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  padding-left: 6px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.message-body {
  padding-left: 6px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
  min-width: 70px;
  padding-left: 7px;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: #bbbbbb;
}

// accept/decline buttons
.btn-medium {
  padding: 10px 15px;
  opacity: 0.6;
  height: 24px;
}
.btn-medium:hover {
  opacity: 1;
}
.btn-approve{
  background: url(success.png);
  background-repeat: no-repeat;
  display: inline-block;
}
.btn-cancel{
  background: url(error.png);
  background-repeat: no-repeat;
  display: inline-block;
}


.invisible {
  height: 0px;
  width: 400px;
}


