// body style
.camp-sites-card-body{
  padding: 10px 10px 10px 10px;
}

h4{
  font-size: 16px;
  color: #7D7979;
  font-family: "Varela", "Helvetica", "sans-serif";
  text-transform: uppercase;
  text-align: left;
}

// message style
.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
  text-align: left;
}
.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
  .price{
    padding-left: 5px
  }
}

