.avatar-profile{
  width: 130px;
}
.profile-info{
  h4{
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    font-weight: lighter;
    text-transform: none;
    strong{
    text-align: left;
    }
  }
}
.profile-card-body{
  transform: translateY(-17%);
  padding: 10px 10px 10px 10px;
  flex-grow: 1;
}
