.form-control {
  margin-left: 15px;
}

.btn-div {
	margin: 0px 0px 0px  0px 
}

#search-btn {
  padding: 20px 30px;
  margin: 0px;
}

.col-xs-12.col-sm-12.content-text {
	h1 {
		font-size: 35px;
	}

	p {
		font-size: 15px;
	}
}