@media only screen and (max-width: 500px) {
  label {
    font-size: 12px !important;
    padding-left: 10px !important;
}
     #category {
 	 font-size: 12px !important;
 	 padding: 10px -1px 10px 2px !important;
}
  }

.form-control {
  margin-left: 15px;
}

.btn-div {
	margin: 0px 0px 0px  0px 

}

#search-btn {
  padding: 20px 30px;
  margin: 25px;
  white-space: normal !important;
}

// 
